{% extends 'layout.html' %}
{% block content %}
    <h1 class="mb-3">WELCOME TO BLOG APP!</h1>
    {% for post in posts %}
        <div class="media mb-3 content-section" style="padding: 9px;">
            <img class="rounded-circle" style="width: 110px; height: 7rem;" src="{{ url_for('static', filename='profile_pics/' + post.author.image) }}" alt="">
            <div class="ml-3 media-body">
                <div>
                    <h4 style="display: inline;">
                        <a class="mr-2" href="{{ url_for('user_posts', user_id = post.author._id) }}">{{ post.author.username }}</a>
                    </h4>
                    <p style="display: inline;" class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</p>
                </div>
                <hr>
                <h2 class="lol"><a href="{{ url_for('post', post_id = post._id) }}">{{ post.title }}</a></h2>
                <p>{{ post.content }}</p>
            </div>
        </div>
    {% endfor %}
    <ul class="pagination justify-content-center">
        {% for i in range(1, last_page+1) %}
            {% if page_now == i %}
                <li class="page-item active"><a class="page-link" href="{{ url_for('home', page=page_now) }}">{{ page_now }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for('home', page=i) }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock content %}